@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
    font-weight: 600;
}
h2{
    font-size: 40px;
}
section::after{
    content: '';
    display: block;
    clear: both;
}
.half-width{
    width:40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width:100%;
}
.orange{
    color:orange;
}
section{
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display:inline-block;
}
.top-bar{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url('./images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.single-ex{
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        height: 80%;
        background-color: white;
        height:400px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
.experiences{
    background-image: url('./images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
#baby{
    border-left:7px solid; 
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align:center;
}
p{
    color:dimgray;
}
a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.top-bar h1{
    margin-bottom: 20px;
    margin-top:35px;
}
.top-bar h3{
    margin-bottom: 15px;
    font-weight: 600;
}
.top-bar p{
    margin-bottom: 10px;
}
.dream-area h2{
    margin-top:5px;
    font-weight:600;
    margin-bottom:20px;
}
.dream-area h3{
    margin-top:5px;
    margin-bottom:18px;
}
.dream-area p{
    margin-bottom:12px;
}
.experiences h2{
    font-weight: 600;
    margin-bottom: 40px;
    margin-top:25px;
}
.experiences h3{
    margin-bottom: 20px;
}